<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JumonApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl as vm">
  <app-root></app-root>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
  <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

  <script type="text/javascript">
    var app = angular.module('myApp', ["ngTable"]);
  app.controller("myCtrl", function(NgTableParams) {
  var vm = this;
  
  vm.cardname = "bad";
  vm.name = "good";
    vm.doWork = doWork;
	
	var data = [{name: "Moroni", age: 50} /*,*/];
	vm.tableParams = new NgTableParams({}, { dataset: data});

    // setup some JSON to use
    //var bad = document.getElementById('textbox_id').value;
    var cars = {};
    cars.name = vm.cardname;
    window.onload = function() {
        // setup the button click
        document.getElementById("theButton").onclick = function() {
            doWork()
        };
    };


    function doWork() {
      // ajax the JSON to the server
      $.post("receiver" + "?name=" + vm.cardname, vm.cardname, function(request){
        document.getElementById("bad").innerHTML=request;
        console.log(request)
      });
      // stop link reloading the page
      event.preventDefault();
    }

    
  });
  </script>
  This will send data using AJAX to Python:<br /><br />
  <div >
    Name: <input ng-model="vm.cardname">
  </div>
  <a href="" ng-click="vm.doWork()" id="theButton">Click Me</a>
  <div ng-bind="vm.name" id="bad"><div>

<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        
    </tr>
</table>

</body>
</html>
